{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <p class="text-center">
            {%  if product.image.url %}
                <img style="width: 30%;height: auto;" class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
            {% endif %}
        <hr>
            <h1>{{ product.title }}</h1>
        <hr>
    <p>{{ product.description |safe}} </p>
        <hr>
    <h1> <b>Narxi : {{ product.price }} so'm</b></h1>
        </div>
    <form method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% bootstrap_button button_type="submit" content="Buyurtma berish" button_size="lg" button_class="btn-danger mx-auto d-block" %}
        {% else %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Buyurtma berish" button_size="lg" button_class="btn-danger mx-auto d-block" %}
            </form>
        {% endif %}
        </div>
{% endblock content %}