{% load static %}
{% block extrahead %}
  {% load django_bootstrap5 %}
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Home</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <style>
    /* Default styles for larger screens */
    nav {
      display: flex;
      justify-content: space-between;
    }

    .navbar-toggler {
      display: none;
    }

    .navbar-collapse {
      flex-grow: 1;
      justify-content: center;
    }

    /* Mobile-specific styles */
    @media (max-width: 767px) {
      .navbar-toggler {
        display: block;
      }

      .navbar-collapse {
        display: none;
        position: absolute;
        top: 56px; /* Adjust the top position as needed */
        right: 0;
        width: 100%;
        background-color: #343a40; /* Adjust the background color as needed */
      }

      .navbar-collapse.show {
        display: flex;
        flex-direction: column;
      }
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light">
       <div class="col-xs-3 col-sm-1">
            <img class="mg-fluid rounded-circle img-thumbnail" src="{% static 'img/shop.png' %}" alt="Townhouses">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="{% url 'home' %}">Bosh sahifa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'product_filters' category='Ayollar' %}">Ayollar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'product_filters' category='Erkaklar' %}">Erkaklar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'product_filters' category='Bolalar' %}">Bolalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'product_filters' category="Uy-Xo'jalik" %}">Uy-Xo'jalik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'product_filters' category='Salomatlik' %}">Salomatlik</a>
                </li>

                <li class="nav-item">
                    <div class="d-flex">
                      <form class="d-flex" method=POST action="{% url 'search' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Qidiruv" aria-label="Search" name="searched">
                        <button type="submit" class="btn btn-danger">Qidirish</button>
                      </form>
                    </div>
                </li>
                            {% if not user.is_authenticated %}
                    <li class="nav-item">
      <a class="btn btn-dark" href="{% url 'signin' %}" role="button">Kirish</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-dark" href="{% url 'signup' %}" role="button">Ro'yxatdan o'tish</a>
    </li>
            </ul>
        {% endif %}
            {% if user.is_authenticated %}
                {% if user.image %}
                    <div class="col-xs-3 col-sm-1">
                        <img src="{{ user.image.url }}" alt="{{ user.username }}" class="img-fluid rounded-circle img-thumbnail">
                    </div>
                {% else %}
                    <div class="col-xs-3 col-sm-1">
                        <img src="{% static 'img/unknown.jpg' %}" alt="{{ user.username }}" class="mg-fluid rounded-circle img-thumbnail">
                    </div>
                {% endif %}
                <div class="dropdown">
                    <button style="min-width: 200px" class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <ul style="min-width: 200px;font-size: 20px;background-color: black;color: white" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li ><a style="color: white" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" class="dropdown-item" href="{% url 'orders' %}"><i class="bi bi-handbag"></i> Buyurtmalarim</a></li>
                        <li><a style="color: white" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" class="dropdown-item" href="{% url 'notifications' %}"><i class="bi bi-bell"></i> Bildirishnomalar</a></li>
                        <li><a style="color: white" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person"></i> Profil</a></li>
                        <li><a style="color: white" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" class="dropdown-item" href="{% url 'settings' %}"><i class="bi bi-gear"></i> Sozlamalar</a></li>
                        <li><a style="color: white" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" class="dropdown-item" href="{% url 'about' %}"><i class="bi bi-question-circle"></i> Biz haqimizda</a></li>
                        <li><a style="color: white" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" class="dropdown-item" href="{% url 'contact' %}"><i class="bi bi-chat-left"></i> Bog'lanish</a></li>
                        <li><a style="color: white" onmouseover="this.style.color='black';" onmouseout="this.style.color='white';" class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> Chiqib ketish</a></li>
                    </ul>
                </div>
            {% else %}


</div>

            {% endif %}
        </div>

  </nav>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
<script>
  // JavaScript to toggle the mobile navbar visibility
  document.addEventListener("DOMContentLoaded", function () {
    var navbarToggler = document.querySelector(".navbar-toggler");
    var navbarCollapse = document.querySelector(".navbar-collapse");

    navbarToggler.addEventListener("click", function () {
      navbarCollapse.classList.toggle("show");
    });
  });
</script>

</body>
</html>
