{% extends 'base.html' %}

{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
    {% if user.is_authenticated and user.is_staff %}
        <h1>Salom admin</h1>


    {% else %}

  <div class="container">


    <div class="row">
        {% for product in products %}
            <div  class="col mb-2"><!-- Adjust the col size to display five cards per row -->
                <div class="card" style="width: 13rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.price }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm">BATAFSIL</a>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:5 %} {# Change 5 to the number of cards per row #}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
        <hr class="hr" />
            {% if products.has_previous %}
                <a href="?page=1" >&laquo; Birinchi</a>
                <a href="?page={{ products.previous_page_number }}">Oldingi</a>
            {% endif %}

            <span class="current-page">
                Sahifa {{ products.number }} / {{ products.paginator.num_pages }}
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Keyingi</a>
            {% endif %}
        </span>
    <hr class="hr" />
    </div>
  </div>
    {% endif %}
{% endblock content %}
