{% extends 'base.html' %}

{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
    {% if user.is_authenticated and user.is_staff %}
        <hr class="hr" />
        <a class="btn-primary btn-lg" href="{% url 'add_product'%}">Mahsulot qo'shish</a>
        <hr class="hr" />
    {% endif %}
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6">
        {% for product in products %}
            <div class="col mb-4">
                <div class="card">
                                        <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                        </a>
                    <div class="card-body">
                    {% if product.title|length > 10 %}
                        <h5 class="card-title">{{ product.title |slice:":10" }}...</h5>

                     {% else %}
                                                <h5 class="card-title">{{ product.title}}</h5>
                    {% endif %}
                        <p class="card-text">{{ product.price }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm product-detail">BATAFSIL</a>
                        {% if user.is_staff %}
                            <br><br><a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn-sm">TAHRIRLASH</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:2 %}
                <div class="w-100 d-sm-none d-md-none d-lg-none"></div>
            {% endif %}
        {% endfor %}
    </div>

    {% if  products.paginator.num_pages %}
    <div class="pagination">
        <span class="step-links">
            <hr class="hr" />
            {% if products.has_previous %}
                <a href="?page=1"  class="btn btn-primary btn-md">&laquo; Birinchi</a>
                <a href="?page={{ products.previous_page_number }}" class="btn btn-primary btn-md">Oldingi</a>
            {% endif %}

            <span class="current-page">
                Sahifa {{ products.number }} - {{ products.paginator.num_pages }}
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="btn btn-primary btn-md">Keyingi</a>
            {% endif %}
        </span>
        <hr class="hr" />
    </div>
    {% endif %}



{% endblock content %}
