{% extends 'base.html' %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
    <div style="display: flex; flex-wrap: wrap; margin-top: 20px;">
    <div style="display: flex; flex-wrap: wrap;">
        {% for product in products %}
            <div class="card" style="width: 14rem;">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h6 class="card-text">Narxi : {{ product.price }}</h6>
                    <a href="#" class="btn btn-primary">BATAFSIL</a>
                </div>
            </div>

            {% if forloop.counter|divisibleby:5 and not forloop.last %}
                <br style="clear:both;">
                    <div style="display: flex; flex-wrap: wrap; margin-top: 20px;">
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
