{% extends 'base.html' %}

{% block title %}Order Success{% endblock title %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="text-center">
            <div class="alert alert-success" role="alert">
                {{ message }}
            {% endfor %}
                {% endif %}

    </div>
                {% if user.is_authenticated %}
    {% else %}
                    <div class="text-center">
                    <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Saytga kirish</a>
                    <a class="btn btn-primary btn-lg" href="{% url 'signin' %}" role="button">Ro'yxatdan o'tish</a>
                    </div>
                {% endif %}
{% endblock content %}
