{% extends 'base.html' %}
{% load static %}
{% block title %}Order Success{% endblock title %}
{% load mathfilters %}
{% block content %}
    <div class="container">
    <div class="text-center"><img src="{% static "img/success.png" %}" height="120rem"></div>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div>
            <div class="alert alert-success text-center" role="alert">
            {{ message }}
        {% endfor %}
    {% endif %}
<hr>
        <table style="width: 100%">
        <style>
th, td {
  height: 100px;
  width: 50%;
}

th {
    border-bottom: 2px solid black;
}

tr {
    border-bottom: 1px solid black;
}
</style>
        <tr>
            <th style="font-size: 35px">Mahsulot</th>
            <th style="font-size: 35px">Summa</th>
        </tr>
        <tr>
            <td style="font-size: 20px">{{ product.title }}</td>
            <td style="font-size: 20px">{{ product.price  }}</td>
        </tr>
        <tr>
            <td style="font-size: 20px">Yetkazib berish</td>
            <td style="font-size: 20px">30 000</td>
        </tr>

        </table>
   <h1 style="color: red">Jami : {{ product.price | addition:30 }} So'm</h1>
</div>
{% endblock content %}
