{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<br>
    <div class="text-center">
    <h2>Biz bilan bog'lanish</h2>
            <hr class="hr" />
    <h5 class="d-inline">Call-center:</h5> <a class="d-inline" >+998 55 500 55-11</a><br>
        <h5 class="d-inline">Elektron pochta:</h5> <a class="d-inline" href="https://mail.google.com/">onlineshop@gmail.com</a><br>
        <h5 class="d-inline">Telegram:</h5> <a class="d-inline" href="https://t.me/onlineshop_admin">@onlineshop_admin</a><br>
</div>
{% endblock content %}