{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    {% if user.is_staff %}
        <hr class="hr" />
        <div class="text-left">
            <a class="btn btn-primary" href="{% url 'create_notification' %}" role="button">Bildirishnoma yaratish</a>
        </div>
    {% endif %}
    <hr class="hr" />
    {% if notifications %}
        {% for notification in notifications %}
            <h1>{{ notification.title }}</h1>
            <p>{{ notification.body }}</p>
        {% endfor %}
    {% endif %}
    {% if user.is_staff %}
        <hr class="hr" />
    {% endif %}

{% endblock content %}